.ellips{
    height: 100px;
    width: 150px;
    border: 3px solid mediumslateblue;
}
.white-space{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box2{
    padding: 10px 10px;
    height: 250px;
    width: 250px;
    border: 3px solid rosybrown;
    /* overflow: hidden; */
    overflow-y: scroll;
}

.box3{
    padding: 10px 10px;
    height: 200px;
    width: 200px;
    overflow: scroll;
    /* overflow-x: hidden; */
    border: 3px solid seagreen;
}